# Server Configuration
NODE_ENV=development
PORT=8080
SERVER_URL=http://localhost:8080
CLIENT_URL=http://localhost:3000

# Application Configuration
SESSION_SECRET=

# Database Configuration
DATABASE_URL=

# JWT Configuration (Access Token & Refresh Token)
ACCESS_TOKEN_COOKIE_NAME=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_COOKIE_NAME=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

# Reset Password Token Configuration
RESET_PASSWORD_TOKEN_SECRET=
RESET_PASSWORD_TOKEN_EXPIRES_IN=

# Verify Email Token Configuration
VERIFY_EMAIL_TOKEN_SECRET=
VERIFY_EMAIL_TOKEN_EXPIRES_IN=

# Security Configuration
HASH_ALGORITHM=

# Youtube API Configuration
YOUTUBE_API_URL=https://www.googleapis.com/youtube/v3
YOUTUBE_API_KEY=

# OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=/api/v1/oauth/google/callback
GOOGLE_REDIRECT_URI=http://localhost:8080/api/v1/oauth/google/callback

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=

EMAIL_FROM=

# Python Script Configuration
PYTHON_EXECUTABLE=python3
SCRIPT_TIMEOUT=30000

# Redis Configuration
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
